<header class="hero">
	<div class="row">
		<div class="hero__logo col-md-3 pl-0"><%= image_tag "nissanLogo.jpg" %></div>
		<div class="hero__title col-md-9 pr-0">
			<h1>Nissan Intelligent Mobility Tour</h1>
			<h3>Fillmore Jazz Festival</h3>
		</div>
	</div>
	<figure><%= image_tag("nissanHero1.jpg", class:"img-fluid") %></figure>
</header>